html{
    font-family:monospace;
    background-color: #edf6f9;

}
navigation{
    color:blue;
    display:block;
}
header{

    text-align: center;
}
#list-of-cases{
    display: grid;
    gap: 20px 50px;
    grid-template-columns: auto auto auto;

    padding: 10px; 
}
img{
    width:75%;
    height:auto;
}
.case-wrap{

    background-color: #ffddd2;
    color:#006d77;
    padding: 10px 10px 10px 10px;
    font-size:larger;
   /* border: 1px solid rgba(0, 0, 0, 1); */
    text-align: center;
}

footer {
    background-color: #585858;
    position: relative;
    bottom: 0;
    width: 100%;
    color: #edf6f9;
    /*height: 2.5rem;            /* Footer height */
  }